* { 
    background-color: blue;
    padding: 0; 
    box-sizing: border-box;
    margin: 0;
}

#img1-throw { 
    height: 430px; 
    width: 430px; 
}  

.container-for-img-circles { 
    display: flex;
    gap: 0.5em;
}

.img-circles { 
    background-color: white;
    border-radius: 1em;
    height: 1em; 
    width: 1em; 
} 

#image-container-frame { 
    width: 60%; 
    /* margin: auto;  */
}

#image-slide { 
    display: flex;
}

.container-btns-to-advance-slide { 
    display: flex;
    justify-content: center;
    gap: 3em; 
} 

.container-for-img-circles { 
    display: flex;
    justify-content: center; 
    margin-top: 1em;
}